CDK_ACCOUNT=123456789012
CDK_REGION=eu-west-1
# Comma-separated IAM user/role ARNs allowed to tunnel to the vector database
VECTOR_DB_ALLOWED_PRINCIPALS=arn:aws:iam::123456789012:user/example,arn:aws:iam::123456789012:role/example-role
